<footer>
    <div class="container">
        <h2>¿Te ayudamos?</h2>
        <form>
            <div class="row">
                <div class="container inputs">
                    <div class="row mb-3">
                        <div class="col-md-12">
                            <input type="text" class="form-control form-control-lg" placeholder="Nombre y Apellidos">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-12">
                            <input type="tel" class="form-control form-control-lg" placeholder="Teléfono">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-12">
                            <input type="email" class="form-control form-control-lg" placeholder="Email">
                        </div>
                    </div>
                </div>
                <div class="container desc">
                    <div class="row mb-3">
                        <div class="col-md-12">
                            <textarea class="form-control form-control-lg" placeholder="¿Qué necesitas?"></textarea>
                        </div>
                    </div>
                </div>
            </div>

            <br>
            <div style="text-align: center;">
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="dataPolicyCheck">
                    <label class="form-check-label" for="dataPolicyCheck">Acepto la Política de Protección de
                        Datos</label>
                </div>
            </div>
            <br>
            <div class="text-center">
                <button type="submit" class="btn btn-primary btn-lg">Enviar</button>
            </div>
        </form>
    </div>
</footer>