<nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" href="#!">Navbar</a>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item active mr-3">
                <a class="nav-link" href="#!">Servicios <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item mr-3">
                <a class="nav-link" href="#!">Sectores</a>
            </li>
            <li class="nav-item mr-3">
                <a class="nav-link" href="#!">Quiénes somos</a>
            </li>
            <li class="nav-item mr-3">
                <a class="nav-link" href="#!">Equipo</a>
            </li>
            <li class="nav-item mr-3">
                <a class="nav-link" href="#!">Contacto</a>
            </li>
        </ul>
    </div>
</nav>